.Checkout {
  display: flex;
  margin-top: 50px;
  padding: 20px;
  height: max-content;
  background: #fff;
}

.Checkout-title {
  padding: 20px 0;
  margin-right: 10px;
  border-bottom: 1px solid #007185;
  width: 100%;
}
.Checkout-ad {
  width: 100%;
}