.Header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  align-items: center;
  background: #131921;
  z-index: 15;
}
.Header-logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
}

.Header-myLocation {
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.Header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 20px;
}

.Header-searchInput {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
}
.Header-searchIcon {
  background: #febd69;
  padding: 4px;
  border-radius: 0 5px 5px 0;
}

.Header-option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: #fff;
}

.Header-nav {
  display: flex;
  justify-content: space-evenly;
}

.Header-optionLineOne {
  font-size: 10px;
}
.Header-optionLineTwo {
  font-size: 13px;
  font-weight: 800;
  margin-top: 3px;
}

.Header-optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
  margin: 0 20px 0 10px ;
}
.Header-basketCount {
  margin-left: 5px;
  color: #f08804;
}
