.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #f3f3f3;
}

.Login-container {
  margin-top: 100px;
}

.Login-container > h1 {
  font-weight: 800;
  margin-bottom: 40px;
}

.Login-container > form > h5 {
  margin-bottom: 5px;
}

.Login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
}