.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 100px;
  max-height: 500px;
  background: #fff;
  margin: 10px;
  padding: 15px;
  z-index: 1;
}

.Product-rating {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.Product-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 15px;
}

.Product-addBasket {
  border: 1px solid;
  border-radius: 20px;
  background: #ffd814;
  border-color: #FCD200;
  margin-top: 10px;
  padding: 6px;
}